<div class="product-card">
    <div class="product-image">
        <img src="{{product.images[0]}}" alt="Product Name" />
    </div>
    <div class="product-info">
        <h3 class="product-title">{{product.name}}</h3>
        <p class="product-description">{{product.shortDescription}}</p>
        <p class="product-price">{{product.price | currency:'INR'}}</p>
        <!-- <div class="product-rating">
            ⭐⭐⭐⭐☆ (120)
        </div> -->
        <button class="add-to-cart">Add to Cart</button>
    </div>
</div>