// ===== Variables =====
$card-bg: #ffffff;
$card-border: #e5e7eb;
$card-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

// ===== Hero Card Styles =====
.hero-card {
  background-color: $card-bg;
  border: 1px solid $card-border;
  border-radius: 12px;
  box-shadow: $card-shadow;
  padding: 5px;
  margin: 5px 5px;
}

::ng-deep ngb-carousel {
  .carousel-indicators {
    bottom: 10px;
    z-index: 30;
  }

  .carousel-control-prev,
  .carousel-control-next {
    z-index: 30;
    background: rgba(0, 0, 0, 0.4);
    height: 10%;
    width: 2%;
    align-self: center;
  }

  .carousel-caption {
    display: none !important; // we custom position it using Tailwind
  }
}
